/*Preloader*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: lavenderblush;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*website stuff*/
*{
    margin: auto;
    box-sizing: border-box;
    border: 0;
}

body, html{
    height: 100%;
}

.header{
    position: relative;
    margin-left: 45%;
    margin-right: 45%;
    padding: 20px 50px 185px 50px;
    background-color: white;
}

.header img{
    /* colour is f05a82 */
    position: absolute; 
    overflow: hidden;
    width: 240px;
    height: 170px;

    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}

.header .front-image{
    z-index: 9999;
    cursor: pointer;
}

.header:hover > .front-image{
    opacity: 0;
}

.navbar{
    overflow: hidden;
    background-color: white;
	list-style: none;
	text-align: center;
	padding: 0;
}

.navbar li{
	display: inline;
}

.navbar a{
    color: black;
    text-align: center;
    padding: 13px 30px;
    text-decoration: none;
    font-family: 'Alegreya Sans';

    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.navbar a:hover{
    background-color: white;
    color: #f05a82;
}

/*parallax scrolling stuff*/
.slide1{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
    background-image: url(images/clouds_edited.png);
    background-attachment: fixed;
    background-size: cover;
    outline: 3px solid white;
    outline-offset: -40px;
}

.slide1 h2{
    font-family: 'Alegreya Sans';
    font-size: 18px;
    outline: 2px solid white;
    color: white;
    padding: 30px;
    word-spacing: 0.1em;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    box-shadow: -15px -15px white;
}

.slide2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color:white;
    text-align: justify;
}

.box1{
    background-color: #ffdfe7;
    height: 40vh;
    width: 40vh;
    position: absolute;
    box-shadow: 25px 25px #c7efff;
    outline: 1px solid salmon;
    outline-offset: 8px;
}

.slide2 table{
    position: absolute;
    border-collapse: collapse;
    width: 40%;
    outline-offset: 10px;
    top: 135vh;
    float: left;
    margin-top: 20%;
}

.slide2 th{
    font-size: 32px;
    text-shadow: 2px 2px pink;
}

.slide2 td{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
    z-index: 1;
    position: absolute;
    padding: 20px;
    align-content: center;
    border: 1px solid black;
    font-size: 14px;
}

.slide3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
    background-image: url(images/heart_edited.png);
    background-attachment: fixed;
    background-size: cover;
    outline: 3px solid white;
    outline-offset: -40px;
}

.slide3 h2{
    font-family: 'Alegreya Sans';
    font-size: 16px;
    outline: 2px solid white;
    color: white;
    padding: 30px;
    word-spacing: 0.1em;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    box-shadow: -15px -15px white;
    line-height: 1.5em;
}

.slide4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color:white;
    text-align: justify;
}

.slide4 table{
    position: absolute;
    border-collapse: collapse;
    width: 40%;
    outline-offset: 10px;
    top: 335vh;
    margin-top: 20%;
    float: left;
}

.slide4 th{
    font-size: 32px;
    text-shadow: 2px 2px pink;
}

.slide4 td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    z-index: 1;
    position: absolute;
    padding: 20px;
    border: 1px solid black;
}

.box2{
    background-color: #ffdfe7;;
    height: 40vh;
    width: 40vh;
    position: absolute;
    box-shadow: 25px 25px #c7efff;
    outline: 1px solid salmon;
    outline-offset: 8px;
}

/*footer stuff*/
.footer{
    padding: 35px 50px;
    background-color: white;
}

.footer a{
    color: #f05a82;
    font-family: 'Alegreya Sans';
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 2;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.footer a:hover{
    color: cornflowerblue;
}
