/*Preloader*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: lavenderblush;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*website stuff*/
*{
    margin: auto;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

.header{
    position: relative;
    margin-left: 535px;
    margin-right: 540px;
    padding: 20px 50px 185px 50px;
    background-color: white;
}

.header img{
    /* colour is f05a82 */
    position: absolute; 
    overflow: hidden;
    width: 240px;
    height: 170px;

    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}

.header .front-image{
    z-index: 9999;
    cursor: pointer;
}

.header:hover > .front-image{
    opacity: 0;
}

.navbar{
    overflow: hidden;
    background-color: white;
	list-style: none;
	text-align: center;
	padding: 0;
}

.navbar li{
	display: inline;
}

.navbar a{
    color: black;
    text-align: center;
    padding: 13px 30px;
    text-decoration: none;
    font-family: 'Alegreya Sans';

    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.navbar a:hover{
    background-color: white;
    color: #f05a82;
}

@media screen and (max-width: 500px){
    .column {
      width: 100%;
    }
}

.intro p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 2% 23% 6% 23%;
    text-align: justify;
    /*background-color: rgb(255, 217, 223, 0.5); */
    padding: 30px;
    box-shadow: 20px 20px pink;
    outline: 1px solid red;
    word-spacing: 0.05em;
    line-height: 2em;
    
}

.art1{
    margin-left: 125px;
    margin-top: 70px;
}

.art1 img{
    box-shadow: 30px 30px rgb(247, 208, 219);
    padding-left: 10px;
    padding-top: 10px;
    outline: 1px solid red;
    outline-offset: 15px;
    float: left;
}

.art1 table{
    border-collapse: collapse;
    width: 35%;
    outline: 1px solid red;
    outline-offset: 10px;
    top: 200px;
    float: right;
    margin-right: 12%;
    margin-top: 20%;
}

.art1 th{
    font-family: 'Alegreya Sans';
    float: right;
    color: #f05a82;
    text-shadow: 2.5px 2.5px rgb(247, 208, 219);
    font-size: 45px;
    padding: 10px 20px;
    float: left;
}

.art1 td{
    font-size: 13px;
    font-family: 'Open Sans';
    border: 1px solid black;
    padding: 10px;
    text-align: justify;
    box-shadow: 20px 20px rgb(247, 208, 219);
    line-height: 1.5em;
}

.art2{
    padding-top: 50%;
    margin-right: 125px;
}

.art2 img{
    box-shadow: 30px 30px rgb(247, 208, 219);
    padding-left: 10px;
    padding-top: 10px;
    outline: 1px solid red;
    outline-offset: 15px;
    float: right;
}

.art2 table{
    border-collapse: collapse;
    width: 35%;
    outline: 1px solid red;
    outline-offset: 10px;
    top: 200px;
    float: left;
    margin-left: 12%;
    margin-top: 20%;
}

.art2 th{
    font-family: 'Alegreya Sans';
    float: right;
    color: #f05a82;
    text-shadow: 2.5px 2.5px rgb(247, 208, 219);
    font-size: 45px;
    padding: 10px 20px;
    float: left;
}

.art2 td{
    font-size: 13px;
    font-family: 'Open Sans';
    border: 1px solid black;
    padding: 10px;
    text-align: justify;
    box-shadow: 20px 20px rgb(247, 208, 219);
}

.art3{
    margin-left: 125px;
    padding-top: 50%;
}

.art3 img{
    box-shadow: 30px 30px rgb(247, 208, 219);
    padding-left: 10px;
    padding-top: 10px;
    outline: 1px solid red;
    outline-offset: 15px;
}

.art3 table{
    border-collapse: collapse;
    width: 35%;
    outline: 1px solid red;
    outline-offset: 10px;
    top: 200px;
    float: right;
    margin-right: 12%;
    margin-top: 20%;
}

.art3 th{
    font-family: 'Alegreya Sans';
    float: right;
    color: #f05a82;
    text-shadow: 2.5px 2.5px rgb(247, 208, 219);
    font-size: 45px;
    padding: 10px 20px;
    float: left;
}

.art3 td{
    font-size: 13px;
    font-family: 'Open Sans';
    border: 1px solid black;
    padding: 10px;
    text-align: justify;
    box-shadow: 20px 20px rgb(247, 208, 219);
}

.footer{
    padding: 100px 0 30px 10px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.footer a{
    color: #f05a82;
    font-family: 'Alegreya Sans';
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 2;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.footer a:hover{
    color: cornflowerblue;
}
