/*Preloader*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: lavenderblush;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*website stuff*/
*{
    margin: auto;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

.header{
    position: relative;
    margin-left: 535px;
    margin-right: 540px;
    padding: 20px 50px 185px 50px;
    background-color: white;
}

.header img{
    /* colour is f05a82 */
    position: absolute; 
    overflow: hidden;
    width: 240px;
    height: 170px;

    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}

.header .front-image{
    z-index: 9999;
    cursor: pointer;
}

.header:hover > .front-image{
    opacity: 0;
}

.navbar{
    overflow: hidden;
    background-color: white;
	list-style: none;
	text-align: center;
	padding: 0;
}

.navbar li{
	display: inline;
}

.navbar a{
    color: black;
    text-align: center;
    padding: 13px 30px;
    text-decoration: none;
    font-family: 'Alegreya Sans';

    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.navbar a:hover{
    background-color: white;
    color: #f05a82;
}

@media screen and (max-width: 500px){
    .column {
      width: 100%;
    }
} 

.art1{
    margin-left: 125px;
    margin-top: 60px;
}

.art1 img{
    box-shadow: 30px 30px rgb(247, 208, 219);
    padding-left: 10px;
    padding-top: 10px;
    outline: 1px solid red;
    outline-offset: 15px;
    float: left;
}

.art1 h1{
    float: right;
    margin-right: 25%;
    margin-top: 22%;
}

.art2{
    padding-top: 50%;
    margin-right: 125px;
}

.art2 img{
    box-shadow: 30px 30px rgb(247, 208, 219);
    padding-left: 10px;
    padding-top: 10px;
    outline: 1px solid red;
    outline-offset: 15px;
    float: right;
}

.art2 h1{
    float: left;
    margin-left: 25%;
    margin-top: 22%
}

.art3{
    margin-left: 125px;
    padding-top: 50%;
}

.art3 img{
    box-shadow: 30px 30px rgb(247, 208, 219);
    padding-left: 10px;
    padding-top: 10px;
    outline: 1px solid red;
    outline-offset: 15px;
}

.art3 h1{
    float: right;
    margin-right: 25%;
    margin-top: 22%;
}

.footer{
    padding: 90px 0;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.footer a{
    color: #f05a82;
    font-family: 'Alegreya Sans';
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 2;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.footer a:hover{
    color: cornflowerblue;
}
